{% comment %} BASE PRICE IN CENTS {% endcomment %}
{% assign product_actual_price_cents = product.selected_or_first_available_variant.price %}

{% comment %} CUSTOMIZATION PRICE IN CENTS {% endcomment %}
{% assign product_customization_price_cents = 0 %}

{% if product.tags contains 'CustomAll'
  or product.tags contains 'Custom1-5'
  or product.tags contains 'Custom4'
  or product.tags contains 'Customw/o6'
%}
  {% assign product_customization_price_cents = 1645 %}
{% endif %}

{% assign product_new_price_cents = product_actual_price_cents | plus: product_customization_price_cents %}

<div class="es-price">
  {% if template contains 'product' %}
    <span style="font-size: 15px; font-weight: 400;">As low as&nbsp;</span>
  {% else %}
    <span>From</span>
  {% endif %}

  <div class="price" {% if template contains 'product' %}style="font-size: 15px;"{% endif %}>
    ${{ product_new_price_cents | money_without_currency }}
    <sup class="small-hide">*</sup>
  </div>
</div>
