.product .cl-po--option[data-option="Customization Method"] {
    border: none!important;
    padding-left: 0px!important;
    padding-right: 0px!important;
    background: var(--gradient-background)!important;
    margin-bottom: 0px;
    padding-bottom: 0px!important;
}

.product .cl-po--option[data-option="Customization Method"] .choices__inner{
  border-radius: 0px!important;
}

.product .cl-po--option[data-option="Customization Method"] .choices__item  {
    padding-left: 10px!important;
}

.product .cl-po--option[data-option="Customization Method"] .choices__list.choices__list--dropdown .choices__item  {
    padding-left: 15px!important;
}

.product .cl-po--option[data-option="Customization Method"] .cl-po--label {
    font-size: 16px!important;
}

.product .cl-po--option[data-option="Customization Type"] {
    padding: 0px !important;
    border: none!important;
}

.product .cl-po--option[data-option="Logo Location"],
.product .cl-po--option[data-option="Location"]{
    padding-top: 0px!important;
    padding-left: 0px!important;
    padding-right: 0px!important;
    border: none!important;
    box-shadow: none!important;
}

.product .cl-po--option[data-option="Logo Location"] .cl-po--swatch-container,
.product .cl-po--option[data-option="Location"] .cl-po--swatch-container,
.product .cl-po--option[data-option="Lettering Location"] .cl-po--swatch-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.product .cl-po--option[data-option="Logo Location"] .cl-po--swatch.cl-po--large,
.product .cl-po--option[data-option="Location"] .cl-po--swatch.cl-po--large{
    width: 100%;
    height: 100%;
    padding: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product .cl-po--option[data-option="Custom Logo"],
.product .cl-po--option[data-option="Thread Color"],
.product .cl-po--option[data-option="Additional Logo Position"]{
    padding-left: 0px !important;
    padding-right: 0px !important;
    border: none !important;
}

 .product .cl-po--option[data-option="Additional Logo Position"]{
   padding-bottom: 0px!important;
 }

.product .cl-po--options {
    border-bottom: 1px solid #CCC;
}

.product .cl-po--option[data-option="Location"]{
    padding-left: 0px !important;
    padding-right: 0px !important;
    border: none !important;
}

.product .cl-po--option[data-option="Embroidery - Child - Logo"] {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.cl-po--option[data-option="Patches - Main options"] {
    padding-top: 20px !important;
}

.cl-po--option[data-option="Leather or Faux Leather"] {
    padding-left: 0px!important;
    padding-right: 0px!important;
    border: none!important;
}

.cl-po--option[data-option="Leather or Faux Leather"] {
    padding-bottom: 0px ! Important;
}

.cl-po--option[data-option="Patches  - Child - Embroidered"] {
    padding-bottom: 0px!important;
}

.cl-po--option[data-option="Embroidered - Fabric Color"] {
    border-top: 0px!important;
    padding-top: 0px!important;
}


.cl-po--option[data-option="Screen Print - Main Options"] {
    padding-bottom: 0px!important;
}

.cl-po--option[data-option="Screen Print - Customization Type"] {
    border-top: none!important;
}

.cl-po--option[data-option="Screen Print - Customization Type"] {
    border-top: none!important;
}

.cl-po--option[data-option="Screen Print - Logo Location"] {
    border-top: none!important;
    padding-top: 0px!important;
}

.cl-po--option[data-option="Lettering - Logo Location"] {
    border-top: none!important;
    padding-top: 0px!important;
}

.cl-po--option textarea {
    min-height: 120px!important;
}

.cl-po--upload .cl-po--upload-wrap {
    width: 100%!important;
    justify-content: center;
    align-items: center;
}

.cl-po--upload-wrap .cl-po--input {
    width: 100%!important;
    text-align: center!important;
}


.cl-po--option .cl-po--option {
    border: none!important;
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.cl-po--option[data-option="Lettering Location"] {
    padding-top: 0px!important;
}

.cl-po--swatch img{
  margin: 0px!important;
}

.cl-po--option .cl-po--swatch {
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
}
