.product .cl-po--option[data-option="Customization Method"] {
    border: none!important;
    padding-left: 0px!important;
    padding-right: 0px!important;
    background: var(--gradient-background)!important;
}

.product .cl-po--option[data-option="Customization Method"] .choices__item  {
    padding-left: 10px!important;
}

.product .cl-po--option[data-option="Customization Method"] .choices__list.choices__list--dropdown .choices__item  {
    padding-left: 20px!important;
}