.es-font-lobster { font-family: "Lobster Two", cursive }
.es-font-inter { font-family: "Inter", sans-serif }
.mt-auto { margin-top: auto }

.es-text-uppercase { text-transform: uppercase }

.es-font-h2 {
  color: black;
  font-size: 30px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  line-height: 39px; 

  @media screen and (max-width: 768px) {
    font-size: 20px;
    line-height: 26px;
  }
}

.es-button {
  color: black;
  font-size: 13px;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 16.90px;
  letter-spacing: 2px;
  word-wrap: break-word;
  padding: 12px 25px;
  border: 0;
  background-color: #FFF;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.3s ease;

  &::after {
    content: '';
    display: block;
    width: 6px;
    height: 10px;
    background: url('https://cdn.shopify.com/s/files/1/0728/5784/6001/files/Group_268.svg?v=1742691514') no-repeat center center;
    background-size: contain;
  }

  &:hover {
    opacity: 0.8;
  }

  &.link {
    padding: 0;
  }

  &.white {
    color: white;
    background-color: transparent;

    &::after {
      background-image: url('https://cdn.shopify.com/s/files/1/0728/5784/6001/files/Union.svg?v=1742761529');
    }
  }

  &.full-link {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}

.announcement-bar-section {
  .page-width {
    @media (max-width: 768px) {
      padding: 0 10px;
    }

    .announcement-bar__message {
      color: #FFF;
      font-size: 13px;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      line-height: 140%;
      padding: 5px 0;
    
      // @media (max-width: 768px) {
      //   white-space: nowrap;
      //   text-transform: uppercase  
      // }
    
      span {
        display: block;
      }
    }
  }
}

.es-image-banner {
  .banner {
    @media (min-width: 990px) {
      &.banner--space {
        .banner__media {
          max-width: calc(100% - 20px);
          max-height: calc(100% - 16px);
        }
      }
    }

    .banner__content {
      .banner__subheading {
        color: white;
        font-size: 64px;
        font-family: "Lobster Two", cursive;
        font-style: italic;
        font-weight: 400;
        line-height: 110%;
        letter-spacing: 3.84px;
        margin-bottom: 0;

        @media (max-width: 768px) {
          font-size: 30px;
          color: #000;
          letter-spacing: 1.8px;
        }
      }

      .banner__heading {
        color: black;
        font-size: 48px;
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        margin: 0;

        @media (max-width: 768px) {
          font-size: 26px;
        }
      }

      .banner__text {
        color: black;
        font-size: 36px;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        line-height: 46.80px;
        word-wrap: break-word;
        max-width: var(--max-width);
        margin-top: 35px;

        @media (max-width: 768px) {
          font-size: 18px;
          line-height: 23.40px;
          margin-top: 13px;
        }
      }

      .banner__buttons {
        margin-top: 12px;

        @media (max-width: 768px) {
          margin-top: 20px;
        }
      }
    }

    .banner__thumb {
      position: absolute;
      bottom: 0;
      right: 0;

      img {
        display: block;
      }
    }
  }
}

.es-swiper-button {
  width: 30px;
  height: 30px;

  &::after {
    content: unset;
  }

  &.swiper-button-prev {
    transform: rotate(180deg);
  }
}

.es-featured-collection {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);

  .container {
    .page-width {
      @media (max-width: 768px) {
        padding: 0;
      }

      .swiper {
        @media (max-width: 768px) {
          padding: 0 1.5rem;
        }

        .es-featured-collection__title-wrapper {
          margin-bottom: 40px;
          position: relative;

          @media (max-width: 768px) {
            margin-bottom: 20px;
          }

          h2.es-font-h2 {
            margin: 0;
          }

          .es-featured-collection__navigation {
            .es-swiper-button {
              top: unset;
              margin: 0;
              bottom: 0;
              width: 37px;
              height: 40px;
              padding: 0;

              svg {
                width: 100%;
                height: 100%;
              }

              &.swiper-button-prev {
                left: unset;
                right: 44px;
              }

              &.swiper-button-next {
                right: 0;
              }
            }
          }
        }

        .product-card-wrapper {
          .card__inner {
            margin-bottom: 40px;

            .card__media {
              width: 100%;

              .media {
                height: 100%;

                img {
                  object-fit: contain;
                  background-color: #FFF;
                }

                &.media--hover-effect {
                  img + img {
                    display: none;
                  }
                }
              }
            }

            .card__content {
              display: none;
            }
          }

          .card__content {
            .card__information {
              .card__heading {
                .full-unstyled-link {
                  color: black;
                  font-size: 13px;
                  font-family: Inter;
                  font-weight: 400;
                  line-height: 19.50px;
                }
              }

              .price {
                color: black;
                font-size: 16px;
                font-family: Inter;
                font-weight: 600;
                line-height: 20.80px;

                @media (max-width: 768px) {
                  font-size: 14px;
                  line-height: 18.20px;
                }
              }
            }
          }

          &:hover {
            .card__inner .card__media .media.media--hover-effect img + img {
              display: block;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.es-featured-blocks {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  
  .container {
    .es-featured-blocks__title-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;

      h2.es-font-h2 {
        margin: 0;
      }

      .es-featured-blocks__navigation {
        display: flex;
        gap: 6px;
        
        .swiper-button-prev {
          transform: rotate(180deg);
        }

        .swiper-button-prev,
        .swiper-button-next {
          position: static;
          height: 30px;
          width: 30px;
          margin: 0;

          &::after {
            content: unset;
          }
        }
      }
    }

    .esSwiper {
      @media (max-width: 768px) {
        padding: 0 1.5rem;
      }

      .swiper-slide {
        .es-featured-blocks__item {
          img {
            max-width: 100%;
            width: 100%;
            height: auto;
            display: block;
          }
  
          .es-featured-blocks__item-title {
            margin-top: 15px;

            @media (max-width: 768px) {
              margin-top: 10px;
            }

            .es-button {
              font-size: 16px;
              font-weight: 600;
              line-height: 20.80px;
              text-transform: capitalize;
              letter-spacing: 0.1px;
              padding: 0;
    
              @media (max-width: 768px) {
                font-size: 12px;
                line-height: 15.60px;
                font-weight: 400;
                padding: 0 4px;
                justify-content: center;
    
                &::after {
                  content: unset;
                }
              }
            }
          }
        }
      }
    }
  }
}

.es-image-with-text {
  .image-with-text {
    .image-with-text__grid {
      display: flex;

      .image-with-text__media-item {
        display: flex;
        gap: 10px;
        align-self: center;
  
        & > div {
          flex: 1;
        }

        @media (max-width: 768px) {
          gap: 2px;
        }
      }

      .image-with-text__text-item {
        .image-with-text__content {
          .image-with-text__text {
            &.subtitle {
              color: black;
              font-size: 40px;
              font-family: "Inter", sans-serif;
              font-weight: 400;
              line-height: 52px;
              word-wrap: break-word;
              margin-top: 15px;

              p {
                margin: 0;

                @media (max-width: 768px) {
                  display: inline;
                }
              }

              @media (max-width: 768px) {
                font-size: 16px;
                line-height: 20.8px; 
                margin-top: 8px;
              }
            }

            &.body {
              color: black;
              font-size: 15px;
              font-family: "Inter", sans-serif;
              font-weight: 400;
              line-height: 25.50px;
              margin-top: 20px;
              margin-bottom: 20px;

              @media screen and (max-width: 768px) {
                margin-top: 10px;
                margin-bottom: 0;
              }
            }
          }

          .es-separator {
            margin: 20px 0 0;

            @media screen and (max-width: 768px) {
              margin-top: 10px;
            }
          }

          .es-button {
            &.mt-auto {
              margin-top: auto;

              @media screen and (max-width: 768px) {
                margin-top: 20px;
              }
            }
          }

          @media screen and (max-width: 768px) {
            padding: 16px 0;
          }
        }
      }

      &.image-with-text__grid--reverse {
        .image-with-text__text-item {
          .image-with-text__content {
            padding: 16px 30px 16px 0;

            @media (max-width: 768px) {
              padding-right: 0;
              padding-bottom: 0;
            }
          }
        }
      }
    }
  }
}


.es-gallery-with-link {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);

  .container {
    .page-width {
      h2 {
        margin-top: 0;
        margin-bottom: 40px;
      }

      .es-gallery-with-link__items {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;   

        @media screen and (max-width: 768px) {
          gap: 4px;
        }

        .es-gallery-with-link__item {
          width: calc(var(--width) - var(--gap));
          display: flex;
          flex-direction: column;
          gap: 10px;

          @media screen and (max-width: 768px) {
            width: 100%;
            gap: 4px;
            flex-direction: row;
          }

          .es-gallery-with-link__item-item {
            width: 100%;
            position: relative;
            cursor: pointer;
            transition: 0.3s ease;
            height: 100%;

            &::after {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 50%;
              height: 100%;
              background: linear-gradient(90deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0) 100%);
              z-index: 2;
              // transition: 0.3s ease;
            }

            &:hover::after {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: rgba(0, 0, 0, 0.3);
              z-index: 2;
            }

            .es-gallery-with-link__item-item-image {
              width: 100%;
              height: 100%;

              img {
                width: 100%;
                height: 100%;
                display: block;
                object-fit: cover;
              }
            }

            .es-gallery-with-link__item-item-title {
              position: absolute;
              bottom: 32px;
              left: 32px;
              z-index: 3;

              @media screen and (max-width: 768px) {
                bottom: 15px;
                left: 15px;
              }

              .es-button {
                font-size: 20px;
                font-weight: 700;
                line-height: 26px;
                text-transform: capitalize;
                letter-spacing: 0.1px;

                @media screen and (max-width: 768px) {
                  font-size: 14px;
                  line-height: 18.2px;
                }
              }
            }
          }

          &.es-gallery-with-link__item--two-images {
            .es-gallery-with-link__item-item {
              height: calc(50% - 5px);

              @media screen and (max-width: 768px) {
                height: 100%;
                aspect-ratio: 1/1;
              }
            }
          }
        }
      }
    }

    &.es-gallery-with-link--scrollable {
      .page-width {
        .es-gallery-with-link__items {
          overflow-x: auto;
          overflow-y: hidden;
          flex-wrap: nowrap;

          .es-gallery-with-link__item {
            min-width: 260px;
          }
        }
      }
    }
  }
}

.es-testimonial {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  background: linear-gradient(to bottom, #FFF, rgba(217, 217, 217, 0.16));

  .container {
    position: relative;

    @media screen and (max-width: 768px) {
      padding: 0 1.5rem;
    }

    .swiper {
      .swiper-wrapper {
        .swiper-slide {
          height: initial;
          padding: 55px 0;
          opacity: 0.3;

          &.swiper-slide-active {
            opacity: 1;
          }

          .es-testimonial__item {
            max-width: 490px;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            padding: 0 1.5rem;
      
            .es-testimonial__item-title {
              color: black;
              font-size: 16px;
              font-family: "Inter", sans-serif;
              font-weight: 600;
              line-height: 20.80px;
              word-wrap: break-word
            }
      
            .es-testimonial__item-image {
              margin-top: 10px;
      
              img {
                display: block;
                margin: 0 auto;
              }
            }
      
            .es-testimonial__item-text {
              color: black;
              font-size: 15px;
              font-family: "Inter", sans-serif;
              font-weight: 400;
              line-height: 25.50px;
              margin-top: 10px;
              margin-bottom: 12px;
      
              p {
                margin: 0;
              }
            }
      
            .es-testimonial__item-created-at {
              margin-top: auto;
            }

            .es-testimonial__item-created-at,
            .es-testimonial__item-name {
              color: black;
              font-size: 13px;
              font-family: Inter;
              font-weight: 400;
              line-height: 19.50px;
              word-wrap: break-word
            }
          }
        }
      }

      .es-swiper-button {
        top: unset;
        bottom: 2px;
        background-color: #FFF;
        border-radius: 50%;

        &.swiper-button-prev {
          left: 50%;
          transform: translateX(calc(-100% - 5px)) rotate(180deg);
        }

        &.swiper-button-next {
          right: 50%;
          transform: translateX(calc(100% + 5px));
        }
      }
    }

    .es-swiper-border {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(100% / 2.5);
      height: calc(100% - 30px);
      border: 4px solid #000;

      @media screen and (max-width: 1024px) {
        width: calc(100% / 1.5);
      }

      @media screen and (max-width: 768px) {
        width: calc(100% - 30px);
      }

      .es-quote-symbol-wrapper {
        position: relative;
        height: 100%;

        .es-quote-symbol {
          position: absolute;
          width: 64px;
          height: auto;

          @media screen and (max-width: 768px) {
            width: 32px;
          }
        }

        .es-quote-start {
          top: -18px;
          left: -13px;

          @media screen and (max-width: 768px) {
            top: -13px;
            left: -9px;
          }
        }

        .es-quote-end {
          bottom: -18px;
          right: -13px;

          @media screen and (max-width: 768px) {
            bottom: -13px;
            right: -9px;
          }
        }
      }
    }
  }
}

.es-featured-videos {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  
  .container {
    .page-width {
      .es-featured-videos__title-wrapper {
        margin-bottom: 52px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 768px) {
          margin-bottom: 20px;
          flex-direction: column;
          align-items: center;
          gap: 10px;
        }

        .es-font-h2 {
          margin: 0;
          max-width: 350px;
        }

        .es-featured-videos__description {
          max-width: 600px;
          color: black;
          font-size: 20px;
          font-family: Inter;
          font-weight: 400;
          line-height: 26px;

          p {
            margin: 0;
          }

          @media screen and (max-width: 768px) {
            font-size: 15px;
            line-height: 25.50px;
            text-align: center;
          }
        }
      }

      .es-featured-videos__videos {
        display: flex;
        gap: 10px;

        .es-featured-videos__video {
          flex: 1;

          .media {
            width: 100%;
            border: 0;

            &::after {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: rgba(0, 0, 0, 0.3);
              z-index: 2;
            }

            .deferred-media__poster-button {
              display: block;

              svg {
                position: absolute;
                top: 50%;
                z-index: 3;
                left: 50%;
                transform: translate(-50%, -50%);
                cursor: pointer;
              }
            }
          }
        }

        @media (max-width: 768px) {
          gap: 4px;
        }
      }
    }

    &.es-featured-videos--scrollable {
      .page-width {
        .es-featured-videos__videos {
          overflow-x: auto;
          overflow-y: hidden;
          flex-wrap: nowrap;

          .es-featured-videos__video {
            min-width: 300px;
          }
        }
      }
    }
  }
}

.footer {
  position: relative;

  &::before {
    content: '';
    display: block;
    left: 0;
    position: absolute;
    top: -28px;
    border-left: 60px solid #FFF;
    border-bottom: 28px solid transparent;
    border-top: 28px solid transparent;

    @media screen and (max-width: 768px) {
      border-left: 24px solid #fff;
      border-bottom: 14px solid transparent;
      border-top: 14px solid transparent;
      top: -14px;
    }
  }

  &::after {
    content: '';
    display: block;
    right: 0;
    position: absolute;
    top: -28px;
    border-right: 60px solid #000;
    border-bottom: 28px solid transparent;
    border-top: 28px solid transparent;

    @media screen and (max-width: 768px) {
      border-right: 24px solid #000;
      border-bottom: 14px solid transparent;
      border-top: 14px solid transparent;
      top: -14px;
    }
  }

  .footer-block__heading {
    color: white;
    font-size: 20px;
    font-family: Inter;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 26px;
    
    @media screen and (max-width: 768px) {
      font-size: 18px;
      line-height: 23.40px;
    }
  }
  .footer-block--link_list {
    .footer-block__heading {
      @media screen and (max-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &::after {
          content: url('https://cdn.shopify.com/s/files/1/0728/5784/6001/files/icon.svg?v=1742928508');
        }

        &.active {
          &::after {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  .footer-block__details-content {
    @media (max-width: 768px) {
      display: none;

      &.active {
        display: block;
      }
    }

    .list-menu__item--link {
      color: white;
      font-size: 15px;
      font-family: "Inter", sans-serif;
      font-weight: 400;
      line-height: 37.50px;
      text-decoration: none;
      padding: 0;
    }
  }

  .footer__content-top {
    @media screen and (max-width: 768px) {
      .grid {
        margin-bottom: 0;
      }
    }

    .footer__blocks-wrapper {
      .footer-block {
        .footer-block__brand-info {
          .footer-block__heading {
            margin-bottom: 0;
          }

          .footer-block__brand-info-image-wrapper {
            display: flex;
            gap: 24px;
            align-items: baseline;
  
            .footer-block__image-wrapper {
              margin-bottom: 0;
            }
          }

          .footer-block--newsletter {
            margin-top: 40px;

            .footer-block__heading {
              font-weight: 700;
              margin-bottom: 20px;
            }
          }
        }
      }

      .footer-block--brand_information {
        max-width: 400px;

        @media screen and (max-width: 768px) {
          margin-bottom: 0;
        }

        
      }
    }

    position: relative;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 4px;
      background: linear-gradient(90deg, #990000 0%, #EE0000 100%);
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  .footer__content-bottom {
    border: 0;
    background-color: #FFF;
    padding: 22px 0;

    .footer__content-bottom-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media screen and (max-width: 768px) {
        flex-direction: column;
      }

      .footer__column--info {
        flex: 1;
      }
  
      .footer__copyright {
        flex: 1;
        color: #999999;
        font-size: 13px;
        font-family: "Inter", sans-serif;
        font-weight: 400;
        line-height: 19.50px;
        word-wrap: break-word;
        margin: 0;
      }
    }    
  }

  .footer__list-social-title {
    color: white;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 26px;
    word-wrap: break-word;
    margin-bottom: 15px;
  }

  .list-social {
    gap: 10px;

    @media screen and (max-width: 768px) {
      margin-bottom: 36px;
    }
  }

  .footer__newsletter {
    max-width: 100%;

    .newsletter-form__field-wrapper {
      max-width: 100%;

      .field {
        &::after,
        &::before {
          content: unset;
        }

        gap: 10px;

        input {
          padding-right: 1.5rem;
          border: 1px solid #FFF;
          border-radius: 3px;
          color: #CCCCCC;
          font-size: 15px;
          font-family: Inter;
          font-weight: 400;
          line-height: 25.50px;
        }

        .es-button {
          border-radius: 3px;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .footer-block--newsletter {
      margin: 0;
      padding-bottom: 24px;
      border-bottom: 1px solid #FFF;
      margin-bottom: 24px;
    }
  }
}