.related-products {
  display: block;
}

.related-products__heading {
  margin: 0 0 3rem;
}

@media (max-width: 768px) {
  .related-products__heading {
    text-align: left;
  }
}

product-recommendations .card__information {
  position: relative;
  padding-bottom: 80px;
  width: 100%;
}

product-recommendations .card__information .see-product {
    position: absolute;
    bottom: 0px;
    width: 100%;
}